<header class="bg-cyan-300">
  <ul class="w-[50%] flex justify-between items-center m-auto p-5">
    <li class="flex justify-center">
      <a href="#" routerLink="/reactive-forms" routerLinkActive="text-gray-200"
        >Reactive Forms</a
      >
    </li>
    <li>
      <a href="#" routerLink="/imdb" routerLinkActive="text-gray-200">IMDB</a>
    </li>
    <li>
      <a href="#" routerLink="/date-pipe" routerLinkActive="text-gray-200"
        >Date Pipe</a
      >
    </li>
    <li>
      <a href="#" routerLink="/calendar" routerLinkActive="text-gray-200"
        >Calendar</a
      >
    </li>
    <li>
      <a href="#" routerLink="/fuzzy-search" routerLinkActive="text-gray-200"
        >Fuzzy Search</a
      >
    </li>
  </ul>
</header>

<router-outlet></router-outlet>
